@import "tailwindcss";

body {
  height: 100vh;
  direction: rtl;
}
#root {
  height: 100%;
}
.swiper-slide img {
  border-radius: 100%;
  width: 80px !important;
  height: 80px !important;
  border-width: 2px;
  border-color: orange;
  padding: 4px;
}
